@use "variables" as v;

header {
  width: 100%;
  background-color: #171717;
  color: white;
  height: 100vh;
  
  

  nav {
    width: 30%;
    margin: 0 auto;

    padding: 10px 0;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        text-decoration: none;
        list-style: none;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 100px);

    .name {
      width: 50%;

      div {
        
        width: fit-content;
        margin: 0 auto;
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 1.5rem;
        }
        .contact {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 80px 0;

          i {
            color: white;
            font-size: 2rem;
            cursor: pointer;
          }
        }
      }
      a {
        width: fit-content;
        text-decoration: none;
        color: black;
        padding: 10px 25px;
        background-color: white;
        border-radius: 5px;
        font-weight: 400;

        i {
          margin-left: 20px;
        }
      }
    }
  }
  .illustration {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    div {
      margin: 0 auto;
      .circle-container {
        position: relative;
        width: 800px;
        height: 875px;
        margin: 0 auto;

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }

        @keyframes rotate-reverse {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(-360deg);
          }
        }

        animation: rotate 20s linear infinite;

        .circle-item {
          position: absolute;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
         /* -webkit-box-shadow: 19px 11px 67px -18px rgba(240, 71, 255, 1);
          -moz-box-shadow: 19px 11px 67px -18px rgba(240, 71, 255, 1);
          box-shadow: 19px 11px 67px -18px rgba(240, 71, 255, 1);
          background: transparent;*/

          img {
            width: 100%;
            height: 100%;
            animation: rotate-reverse 20s linear infinite;
          }
        }
        @for $i from 1 through 7 {
          .item#{$i} {
            $angle: (360deg / 7) * ($i - 1);
            transform-origin: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
              rotate($angle)
              translateY(-250px)
              rotate(calc($angle * -1));
          }
        }
      }
    }
  }
}
